/* General CSS */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  line-height: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  text-align: center;
}

h1 {
  font-size: 32px;
}

h3 {
  margin: 2rem;
}

.pageWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  background: linear-gradient(var(--surface-1), var(--surface-1)) padding-box,
    var(--gradient-1) border-box;
  background: #285c9b;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  outline: none;
  border: 5px solid #15457f;
}

input:focus {
  border: 5px solid #2cc418;
}

/* Home Page */

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph-center {
  max-width: 75%;
  text-align: center;
}

#mapMarker {
  max-width: 100px;
}

.location-input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.location-input-container > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.videoWrapper {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#videoBackground {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Set locations page */

.create-user-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* Map / passwordRecovery page */

#w3w-map {
  width: 1000px;
  height: 1000px;
  margin: 2rem;
}

#map {
  max-width: 100%;
  height: 60vh;
}

.what3words-autosuggest {
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.location-form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.location-feedback {
  display: flex;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

/* Button CSS */

.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #adabac);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #15457f;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #2cc418, #84d84c);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
